.heading-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #D35400;
    -fx-padding: 10 0 10 0;
}

.input-field {
    -fx-background-color: #fff3e0;
    -fx-border-color: #D35400;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5;
    -fx-text-fill: #4E342E;
    -fx-font-size: 14px;
}

.primary-button {
    -fx-background-color: #F39C12;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 6 14;
    -fx-background-radius: 5;
}

.secondary-button {
    -fx-background-color: #A04000;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 6 14;
    -fx-background-radius: 5;
}

.info-button {
    -fx-background-color: #D35400;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 6 14;
    -fx-background-radius: 5;
}
