.heading-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #D35400; /* Pumpkin Orange */
}

.input-field {
    -fx-pref-width: 200px;
    -fx-padding: 8px;
    -fx-background-color: #fffaf2;
    -fx-border-color: #d35400;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-size: 14px;
    -fx-text-fill: #4E342E;
}

.primary-button {
    -fx-background-color: #F39C12;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-padding: 6 16 6 16;
}

.secondary-button {
    -fx-background-color: #A04000;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-padding: 6 16 6 16;
}

.status-label {
    -fx-text-fill: red;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}
